apptainer {
    enabled = true
    autoMounts = true
}

process {
    container = '/dss/dssfs02/pn29qe/pn29qe-dss-0000/workflows/container/candate.sif'

    beforeScript = 'module load apptainer/1.3.4'

    env{
            TMPDIR = '$PWD/nxf_tmp'
            TMP    = '$PWD/nxf_tmp'
            MAFFT_TMPDIR = '$PWD/nxf_tmp'
        }

    resourceLimits = [
        time: 24.h
    ]
    
  withName: BEAST_MCMC{
     containerOptions = "-B ${System.getenv('HOME')}/.beast:${System.getenv('HOME')}/.beast"
   }

  withName: BEAST_LOGCOMBINER{
     containerOptions = "-B ${System.getenv('HOME')}/.beast:${System.getenv('HOME')}/.beast"
    }

  withName:BEAST_MCMC_RESUME{
     containerOptions = "-B ${System.getenv('HOME')}/.beast:${System.getenv('HOME')}/.beast"
    }

}

timeline {
    enabled = true
    file = "timeline.html"
}

trace {
    enabled = true
    file = "trace.txt"
}
