process{
        beforeScript = 'module load /dss/dssfs02/pn29qe/pn29qe-dss-0000/workflows/nextflow/modules/beast_tip_dating'
        env {
            LD_LIBRARY_PATH = "/dss/dssfs02/pn29qe/pn29qe-dss-0000/workflows/nextflow/conda_env/beast_tip_dating/lib:${System.getenv('LD_LIBRARY_PATH')}"
            NXF_OPTS='-Xms256m -Xmx2g -XX:MaxRAMPercentage=25'
            PATH= "/dss/dssfs02/pn29qe/pn29qe-dss-0000/workflows/beast/bin:\$PATH"
        }
        resourceLimits = [
            time  : 24.h
        ]
    }

timeline {
    enabled = true
    file = "timeline.html"
}

trace {
    enabled = true
    file = "trace.txt"
}
